.header {
  height: 8rem;
  background: $color-black;
  padding: 0 5rem;
  display: flex;
  align-items: center;

  &__main {
    > * {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  &__text {
    text-transform: uppercase;
  }
}
