.home {
  height: calc(100vh - 8rem);
  overflow-x: hidden;
  &__filter {
    height: 19%;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
    padding: 3.5rem 5rem;

    &--1 {
      display: flex;
    }

    &--2 {
    }
  }

  &__contents {
    display: flex;
    width: 100vw;
    height: 81%;
  }
  &__dropdown {
    margin-left: 4rem;
  }

  &__lists {
    display: inline-block;
    width: 30%;
    background: #f2f2f2;
    height: 100%;
    overflow-y: scroll;
  }

  &__list {
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
  }

  &__listDetails {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    height: 8rem;
    transition: 0.3s;
    &:hover {
      background: darken(#f2f2f2, 3%);
    }
  }

  &__book {
    position: relative;
    display: inline-block;
    width: 70%;

    &--empty {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--title {
      text-align: center;
    }
  }
}
