body {
  // font-family: "Lato", sans-serif;
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
  // padding: 3rem;
}

.heading-primary-1 {
  font-family: "bellmt-bold";
  font-size: 2.4rem;
}

.heading-primary-2 {
  font-family: "georgia-bold";
  font-size: 2.2rem;
}

.text-primary-1 {
  font-family: "georgia-regular";
  font-size: 2.2rem;
}

.text-secondary-1 {
  font-family: "georgia-italic";
  font-size: 1.8rem;
}

.text-tertiary-1 {
  font-family: "georgia-bold";
  font-size: 1.4rem;
}
